<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UniShoes - Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>

    <a href="/novo">Adicionar Produto</a>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Descrição</th>
        </tr>
        <tr th:each="produto : ${produtos}">
            <td th:text="${produto.id}"></td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.preco}"></td>
            <td th:text="${produto.descricao}"></td>
        </tr>
    </table>
</body>
</html>
